@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
section{
    width: 70%;
    margin: auto;
    font-family: "Red Hat Text";
}


.select2-results__option:hover{
    background-color: purple;
}
.header{
    text-align: center;
}
.student-section, .departmental-pg, .hod-section{
    border: 2px solid purple;
    border-radius: 10px;
    padding-left: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    box-shadow: 7px 10px 26px 0px rgba(2, 0, 2, 0.1);
    -webkit-box-shadow: 7px 10px 26px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 7px 10px 26px 0px rgba(0, 0, 0, 0.1);
}

.student-section .student{
    font-size: 130%;
    font-weight: 600;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
}
.studentName, .matricNo, .programme, .college{
    color: purple;
}

